<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Expert Python web development services, building scalable and secure web applications using Django, Flask, and other Python frameworks.">
    <meta name="keywords"
        content="Back-End Development, Flask, Django, Web Application Development, WebScraping, GUI Application">
    <meta name="author" content="Ashwani Kumar">
    <link rel="canonical" href="https://ashwani1996.pythonanywhere.com" />

    <title>Ashwani Kumar | Python Developer</title>


    <meta property="og:title" content="Ashwani Kumar | Python Developer" />
    <meta property="og:image" content="{% static 'assets/imgs/ashwani.jpg' %}" />
    <meta property="og:image:width" content="1800" />
    <meta property="og:image:width" content="600" />
    <meta property="og:site_name" content="Ashwani Kumar" />
    <meta property="og:description"
        content="3+ years of experience as a Python Developer with a strong portfolio of projects.Bachelor's degree in Computer Science, Software Engineering or a related field." />

    <meta name="google-site-verification" content="t1_gMNLG_W1LSNTEvPa4Cu9X5vINShjO2x8b8ZDOQO0" />



    <!-- font icons -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/imgs/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/johndoe.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    {% if messages %} {% for message in messages %} {% if message.tags %}
    <script>
        alert("{{ message }}");
    </script>
    {% endif %} {% endfor %} {% endif %}
    <header class="header">
        <div class="container">
            <ul class="social-icons pt-3">
                <li class="social-item"><a class="social-link text-light" href="https://x.com/Ashwani87956236"><i
                            class="ti-twitter" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light"
                        href="https://www.linkedin.com/in/ashwani-p-31775219b"><i class="ti-linkedin"
                            aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="https://github.com/ashwani-199"><i
                            class="ti-github" aria-hidden="true"></i></a></li>
            </ul>
            <div class="header-content">
                <h4 class="header-subtitle">Hello, I am</h4>
                <h1 class="header-title">Ashwani Kumar</h1>
                <h6 class="header-mono">Freelancer Developer | Back-end Developer</h6>
                <a href="#contact" class="btn btn-primary btn-rounded">Contact me</a>
                <!-- <i class="ti-printer pr-2"></i> -->
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="{% static 'assets/imgs/ashwani.jpg' %}" alt="Ashwani Kumar" class="brand-img">
                    <li class="brand-txt">
                        <h5 class="brand-title">Ashwani Kumar</h5>
                        <div class="brand-subtitle">Junior Web Designer | Developer</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Who am I ?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">A Web Designer / Developer Located In Our Lovely Earth</h5>
                <p class="mt-20">I build sites with amazing looks and fast load-times that do one thin.
                    Whatever you have in mind, you should know - I build with a goal-oriented eye for precision.
                    When we're done, you will have a site that gets the job done in style.</p>
                <a href="{% static 'assets/pythonashwani_kumar.pdf' %}" class="btn btn-outline-danger" download><i
                        class="icon-down-circled2 "></i>Download My
                    CV</a>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Personal Info</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Birth-Date</span> : 14/12/1996</li>
                    <li><span>Email</span> : technogyan375@gmail.com</li>
                    <li><span>Phone</span> : + (91) 8449592804</li>
                    <!-- <li><span>Skype</span> : @ashwani </li> -->
                    <li><span>Address</span> : Shivalik Nagar Haridwar Uttarakhand India.</li>
                </ul>
                <ul class="social-icons pt-3">
                    <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-google"
                                aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link text-light"
                            href="https://www.linkedin.com/in/ashwani-p-31775219b"><i class="ti-linkedin"
                                aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link text-light" href="https://github.com/ashwani-199"><i
                                class="ti-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">My Expertise</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Backend Developer</h6>
                        <p class="subtitle"> Django, Flask, Web Scrapping, SQl, Data Analysis</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-paint-bucket icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Web Development</h6>
                        <p class="subtitle">Code optimization: Efficient algorithms, data structures</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Databases</h6>
                        <p class="subtitle">Relational databases: MySQL, PostgreSQL</p>
                        <p class="subtitle">Database modeling: Schema design, data normalization</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="footer py-5">
        <div class="container">
            <h2 class="text-light mb-5 font-weight-normal text-center"><span class="text-danger">Ways</span> I can help
                you</h2>
            <div>
                <div class="row font-weight-normal text-light">
                    <div class="col-8">
                        <h2>1. Own a Website that Works</h2>
                        <span>You want a website. It must look great and you want it to work... All the time. Well,
                            that's why I'm here! I help you by designing, building, and hosting a beautiful site that'll
                            grow your business. Promise.</span>
                    </div>
                </div>
                <br>
                <div class="row font-weight-normal text-light">
                    <div class="col-4">
                        <h2>2. Become Famous with SEO</h2>
                        <span>An impressive Google ranking means more people see your fantastic blog post or
                            revolutionary product. I ensure you have a leading ranking with best SEO practices. Give
                            your content the audience it deserves!</span>
                    </div>

                </div>
                <br>
                <div class="row font-weight-normal text-light">
                    <div class="col-8">
                        <h2>3. Control the Features</h2>
                        <span>Do you feel restricted by all the drag-and-drop web builders out there? I provide a
                            powerful custom code solution that fits your exact needs. At the end, you'll own a fast,
                            great looking site.</span>
                    </div>

                </div>
                <div class="row font-weight-normal text-light">
                    <div class="col-4">
                        <h2>4. Sell Your Stuff Online</h2>
                        <span>You have an idea. You want to turn it into an online business without all the hassle.
                            Perfect! I'm here to help you set up an e-commerce store that looks amazing and makes you
                            money.</span>
                    </div>

                </div>

            </div>
    </section>
    <section class="section" id="service">
        <div class="container">
            <h2 class="mb-5 pb-4 text-center"><span class="text-danger">Ways</span> you'll benefit</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-vector text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <!-- <h5 class="mb-3 card-title text-dark">Ullam</h5> -->
                            <P class="subtitle">Attract clients who value quality</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-write text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <!-- <h5 class="mb-3 card-title text-dark">Asperiores</h5> -->
                            <P class="subtitle">More time to focus on your business</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-package text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <!-- <h5 class="mb-3 card-title text-dark">Tempora</h5> -->
                            <P class="subtitle">Turn leads into paying customers</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-map-alt text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <!-- <h5 class="mb-3 card-title text-dark">Provident</h5> -->
                            <P class="subtitle">Reach a larger, more curious audience</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-bar-chart text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <!-- <h5 class="mb-3 card-title text-dark">Consectetur</h5> -->
                            <P class="subtitle">Own a beautiful website that works 24/7</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                        <div class="card-header has-icon">
                            <i class="ti-support text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <!-- <h5 class="mb-3 card-title text-dark">Veritatis</h5> -->
                            <P class="subtitle">Build trust with your ideal clients.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="footer py-5">
        <div class="container">
            <h2 class="text-light mb-5 font-weight-normal text-center"><span class="text-danger">My</span> Promises</h2>

            <div id="#" class="row">
                <div class="col-lg-4 text-left">
                    <h3 class="font-weight-normal text-light">Fast products that work</h3>
                    <p class="mt-20 font-weight-normal text-light">I build sites with amazing looks and fast load-times
                        that do one thin.
                        Whatever you have in mind, you should know - I build with a goal-oriented eye for precision.
                        When we're done, you will have a site that gets the job done in style.</p>
                </div>
                <div class="col-lg-8 text-right">
                    <h3 class="font-weight-normal text-light">A healthy relationship</h3>
                    <p class="mt-20 font-weight-normal text-light">Communication is key in any relationship, ours
                        included. No dramas or difficult relationships. I'm here to make your life easier.</p>
                </div>
            </div>
        </div>

    </section>

    <section class="section bg-dark text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">200</h2>
                            <p class="text-light mb-1">Hours Worked</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">6</h2>
                            <p class="text-light mb-1">Project Finished</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-face-smile icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">5</h2>
                            <p class="text-light mb-1">Happy Clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-heart-broken icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">100</h2>
                            <p class="text-light mb-1">Tea & Coffee Drinked</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="section bg-custom-gray" id="portfolio">
        <div class="container">
            <h2 class="mb-5 text-center"><span class="text-danger">My</span> Portfolio</h2>
            <div class="portfolio">
                <div class="filters">
                    <a href="#" data-filter=".new" class="active">
                        New
                    </a>
                    <a href="#" data-filter=".advertising">
                        Advertising
                    </a>
                    <a href="#" data-filter=".branding">
                        Branding
                    </a>
                    <a href="#" data-filter=".web">
                        Web
                    </a>
                </div>
                <div class="portfolio-container">
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/blog_image.png' %}" class="img-fluid" alt="Blog Post">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/blog_image.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">Blog Post</h6>
                                    <p class="subtitle">Python Coding Blog</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/design_ui.jpg' %}" class="img-fluid" alt="Design UI">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/design_ui.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">Design UI</h6>
                                    <p class="subtitle">Dynamic Web Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/advertising-2.jpg' %}" class="img-fluid" alt="advertising">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/advertising-2.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">ADVERSTISING</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/tour.jpg' %}" class="img-fluid" alt="UI Design Tourist">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/tour.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">UI Design Tourist</h6>
                                    <p class="subtitle">Django & Flask Webdevelopment</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 advertising">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/advertising-1.jpg' %}" class="img-fluid" alt="advertising">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/advertising-1.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">ADVERSITING</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/dashboard.png' %}" class="img-fluid" alt="Dashboard">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/dashboard.png' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">Dashboard</h6>
                                    <p class="subtitle">Admin Dashboard Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/advertising-3.jpg' %}" class="img-fluid" alt="advertising">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/advertising-3.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">ADVERSITING</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/advertising-4.jpg' %}" class="img-fluid" alt="advertising">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/advertising-4.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">ADVERTISING</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/custom_dashboard.png' %}" class="img-fluid"
                                alt="Ecommerce Website Design">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/custom_dashboard.png' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">Ecommerce Website Design</h6>
                                    <p class="subtitle">Customize Admin Panel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/branding-2.jpg' %}" class="img-fluid" alt="branding">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/branding-2.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">BRANDING</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 branding new">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/branding-3.jpg' %}" class="img-fluid" alt="branding">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/branding-3.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">BRANDING</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/branding-4.jpg' %}" class="img-fluid" alt="branding">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/branding-4.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">BRANDING</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="{% static 'assets/imgs/branding-5.jpg' %}" class="img-fluid" alt="branding">
                            <div class="content-holder">
                                <a class="img-popup" href="{% static 'assets/imgs/branding-5.jpg' %}"></a>
                                <div class="text-holder">
                                    <h6 class="title">BRANDING</h6>
                                    <p class="subtitle"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of portfolio section -->

    <section class="footer py-5">
        <div class="container text-center">
            <h2 class="text-light mb-5 font-weight-normal"><span class="text-danger">Frequently</span> asked questions
            </h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="flush-headingOne">
                        <a class="accordion-button collapsed text-light mb-5 font-weight-normal" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            Why is the technical site review free?
                        </a>
                    </h3>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-light mb-5 font-weight-normal">I'd like to help you improve your
                            website where
                            it
                            really matters!
                            What better way to kickstart the process by showing you exactly where you could be doing
                            things better? Consider it a little taste of the value I'll bring to your business. It's
                            delivered to your inbox, obligation free. And you're not subscribing to anything so your
                            inbox stays clean and free of nonsense.</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="flush-headingTwo">
                        <a class="accordion-button collapsed text-light mb-5 font-weight-normal" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                            Do you charge per hour or per project?
                        </a>
                    </h3>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-light mb-5 font-weight-normal">Charging per project works better
                            for you and me.
                            You know the price upfront and I can focus on creating something great without counting the
                            hours.</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="flush-headingThree">
                        <a class="accordion-button collapsed text-light mb-5 font-weight-normal" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            How often will we be in contact?
                        </a>
                    </h3>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-light mb-5 font-weight-normal">I promised to keep a healthy
                            relationship with
                            you. If that means a call every day, cool. If it means keeping in touch through a weekly
                            email exchange, cool. Whatever works for you. Remember, I'm here to make your life easier,
                            not more complicated.</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="flush-headingFour">
                        <a class="accordion-button collapsed text-light mb-5 font-weight-normal" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            Do you hire others to help you?
                        </a>
                    </h3>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body  text-light mb-5 font-weight-normal">I commit myself wholeheartedly
                            to every project
                            and love working solo. If you prefer to have your project done at a superhuman pace, then
                            I'll get some outside help from people I trust.</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="flush-headingFive">
                        <a class="accordion-button collapsed text-light mb-5 font-weight-normal" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            What if I don't like the end result?
                        </a>
                    </h3>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-light mb-5 font-weight-normal">Our healthy relationship means
                            we'll know where we
                            stand with your idea and it's direction the whole way through. If at any point, you have a
                            complete change of mind I will give you a full refund with a smile :)</div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px">
                <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
                <h2 class="mb-0">What Our Clients Say About Our Digital Services</h2>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="{% static 'assets/imgs/testimonial-1.jpeg' %}"
                        style="width: 200px; height: 200px" alt="Atal Jambhulkar" />
                    <div class="ps-4 m-auto">
                        <h4 class="text-primary mb-1">Atal Jambhulkar</h4>
                        <small class="text-uppercase">SAP MM/WM/EWM Consultant</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    "My website is really well-designed! The balance between photos and text is beautiful, and
                    everything is managed excellently. The browsing experience is smooth and engaging. Your work truly
                    deserves appreciation – I really liked it!"
                </div>
            </div>
        </div>
    </div>


    <div class="section contact" id="contact">
        <div id="map" class="map"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-card">
                        <h4 class="contact-title">Sweet, that's me! Now it's your turn to say hi.</h4>
                        <form name="myForm" action="{% url 'index' %}" onsubmit="return validateForm()" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" placeholder="Name *">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" placeholder="Email *">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" placeholder="Message *"
                                    rows="7"></textarea>
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="form-control btn btn-primary">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info-card">
                        <h4 class="contact-title">Get in touch</h4>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-mobile icon-md"></i>
                            </div>
                            <div class="col-10 ">
                                <h6 class="d-inline">Phone : <br> <span class="text-muted">+91 8449592804</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-map-alt icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Address :<br> <span class="text-muted">Shivalik Nagar, Haridwar
                                        Uttarakhand
                                        India.</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-envelope icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Email :<br> <span class="text-muted">technogyan375@gmail.com</span>
                                </h6>
                            </div>
                        </div>
                        <ul class="social-icons pt-4">
                            <li class="social-item"><a class="social-link text-dark"
                                    href="https://www.linkedin.com/in/ashwani-p-31775219b"><i class="ti-linkedin"
                                        aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-dark"
                                    href="https://github.com/ashwani-199"><i class="ti-github"
                                        aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link" href="https://pythontechno.blogspot.com"><i
                                        class="fa fa-address-book" aria-hidden="true"></i></a>
                            </li>
                            <li class="social-item"><a class="social-link text-dark"
                                    href="https://x.com/Ashwani87956236"><i class="ti-twitter"
                                        aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer py-3 text-center">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy;
                <script>document.write(new Date().getFullYear())</script> Created With <i
                    class="ti-heart text-danger"></i> By <a href="https://www.fiverr.com/s/2Krglp8"
                    target="_blank"><span class="text-danger"
                        title="Ashwani Kumar Developer">@ashwani_Web_development</span></a>
            </p>
        </div>
    </footer>

    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Isotope  -->
    <script src="{% static 'assets/vendors/isotope/isotope.pkgd.js' %}"></script>

    <!-- Google mpas -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>

    <!-- JohnDoe js -->
    <script src="{% static 'assets/js/johndoe.js' %}"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        function validateForm() {
            let name = document.forms["myForm"]["name"].value;
            let email = document.forms["myForm"]["email"].value;
            // let subject = document.forms["myForm"]["subject"].value;
            let message = document.forms["myForm"]["message"].value;
            if (name == "") {
                alert("Name must be filled out");
                return false;
            } else if (email == "") {
                alert("Email must be filled out");
                return false;
            } else if (message == "") {
                alert("Message must be filled out");
                return false;
            }
        }
    </script>

</body>

</html>